eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url.default-zone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.value}

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/zipkin/
  endpoints:
    web:
      exposure:
        include: "*"

spring:
  boot:
    admin:
      client:
        url: http://localhost:9999
